/* FONT */
@font-face {
  font-family:"Quantico";
  src: url("Quantico-Regular.ttf") format("truetype");
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Quantico','Changa','Noto Sans',sans-serif;
    color: #232a30;
}

body {
  font-family: 'Quantico','Changa','Noto Sans',sans-serif;
}


/*Logo*/
.main_logo {
  height: 50px;
  
}

/*header*/
.skin-blue .main-header .logo, .skin-blue:hover .main-header:hover .logo:hover {
    background-color: #232a30;
    color: #fff;
    border-bottom: 0 solid transparent;
}


/* FOOTER */
.my_footer {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
  background-color: #232a30;
  color: white;
  text-align: right;
  padding-right: 4%;
  padding-top: 0.5%;
  padding-bottom: 5px;
  margin-bottom: -25px;
}

.package_link {
  color: #ce8404 !important;
}

.package_link:hover {
  color: #e2a336 !important;
}

.package_link:active{
  color: #e2a336 !important;
}


/* COLUMNS SIDE BY SIDE */
.side_side{
  float:left !important;
}

.column_side {
  float: inherit !important;
}

.skin-blue .main-header .navbar {
    background-color: #232a30;
}

.skin-blue .main-header .navbar .sidebar-toggle{
    color: #fff;
    background-color: #232a30;
}

.skin-blue:hover .main-header:hover .navbar:hover .sidebar-toggle:hover{
    color: #ce8404;
    background-color: #232a30;
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidebar-mini.sidebar-collapse .main-header .logo {
    width: 120px;
    position: relative !important;
    max-height: 100px !important;
    z-index: 1030 !important;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}


/*side bar*/
.main-sidebar, .skin-blue .wrapper {
    background-color: #232a30 !important;
}

.left-side, .main-sidebar {
    top: 30px;
}

.skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li:hover > a {
    color: #ce8404;
    background: #232a30;
    border-left-color: #ce8404;
}

/* PAGE */
.content-wrapper {
  overflow-y: initial !important;
}

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

/*Centralize boxes in search tab */

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: none;
    margin: 0 auto;
    text-align: center;
}


/*HOME*/
.home_welcome
{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 30px;
  border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
  border-top: 2px solid #232a30;
}

/* btn */
.btn_go, .btn_go:focus, .btn_go:active {
    background-color: #232a30 !important;
    color: #ce8404 !important;
    border-color: #232a30 !important;
    width: 130px;
    height: 50px;
    font-size: 17px;
    width: 200px;
    height: 100px;
    display: inline-block;
    
}

.btn_go:hover {
    background-color: #232a30bf !important;
    color: #ce8404 !important;
    border-color: #232a30 !important;
    width: 130px;
    height: 50px;
    font-size: 17px;
    width: 200px;
    height: 100px;
    display: inline-block;
}

.btn-default, .btn-default:focus, .btn-default:active {
  background-color: #232a30 !important;
  color: #ce8404 !important;
  border-color: #232a30 !important;
}

.btn-default:hover {
  background-color: #232a30bf !important;
  color: #ce8404 !important;
  border-color: #232a30 !important;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #fff;
    border-top: 3px solid #232a30;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
    text-align: center;
}

.search_go {
  padding-bottom: 25px;
}

.box-widget, .widget-user {
    position: relative;
    border-radius: 3px;
    background: #232a30;
    border-top: 3px solid #ce8404;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.37);
    color: #ce8404;
    text-align: left;
}

h3.widget-user-username {
  color: #ce8404;
}

.widget-user .widget-user-image > img {
    width: 150px;
    height: auto;
    border: 3px solid #ce8404;
}

.user_box {
    width: 100%;
}

.fa.fa-behance, .fa.fa-behance-square, .fa.fa-steam, .fa.fa-steam-square {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    font-size: 25px;
    color: #ce8404;
}


.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
        padding-top: 10px;
    background-color: #fff;
    color: #232a30;
    text-align: center;
    font-size: 18px;
}

/*KPIS BOXES*/
.bg-purple {
    background-color: #232a30b8!important;
    border-radius: 15px;
    width: 280px;
    height: 100px;
}

.small-box p {
    font-size: 25px;
    color: #232a30;
    font-weight: bold;
}

.small-box h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    color: #232a30;
}

.small-box .icon-large {
    position: absolute;
    top: auto;
    bottom: 15px;
    right: 10px;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.15);
}

/*image and text align*/
.one {
  display: inline-flex;
  align-items: center;
}
/*image individual view*/
.user_img {
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #232a30;
}
/* select inputs */
div.box-body .shiny-input-container {
    margin: 0 auto;
}

.weapon_img{
  height: 50px;
}


.map_img {
  height: 260px;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin: 10px;
  margin-bottom: 18px;
  
}

.box_map_desc
{
  height: 220px !important;
}

.highcharts-root {
  font-family: 'Quantico','Changa','Noto Sans',sans-serif !important;
  color: #232a30 !important;
  font-size: 15px !important;
}


.h4_left{
  text-align: left !important;
}

.heavy {
  font-weight: bold !important;
  color: #5d79ae !important;
}

.pistols {
  font-weight: bold !important;
  color: #636465 !important;
}

.rifles {
  font-weight: bold !important;
  color: #ccba7c !important;
}

.smgs {
  font-weight: bold !important;
  color: #77715d !important;
}


/* LOADER */
.loader-img{
  width: 40% !important;
  margin: 0 auto !important;
  height: 100% !important;
  padding-top: 45%;
}

.line {
  background-color: #ce8404 !important;
}

.shiny-spinner-placeholder {
  margin-bottom: -100px;
  margin-top: -180px;
}


/* GRAPHIC TOOLTIP */
.radar_img{
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #232a30;
}

.hr_tooltip{
  margin-bottom: 10px!important;
}

path.highcharts-legend-nav-active{
  fill: #ce8404 !important;
}

/* ABOUT */
.about_left{
  text-align: left;
}

.hr_about{
  margin-top: 10px;
  margin-bottom: 10px;
}

.note{
  background-color: #ce840408;
  background-position: 9px 0px;
  background-repeat: no-repeat;
  border-left: solid 4px #ce8404;
  line-height: 18px;
  overflow: hidden;
  padding: 8px 10px;
  margin: 15px;
}

.sticker_about{
  height: 180px;
  float: right; 
  margin: 0px 0px 25px 25px;
}

/* dream team table */
.table_img {
  vertical-align: middle;
  height: 58px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #232a30;
}

